# Aggregated_TransactionData_DataFrame

In [3]:
# https://stackoverflow.com/questions/70837397/good-alternative-to-pandas-append-method-now-that-it-is-being-deprecated

# INITIALIZATION
import os
from os import walk
from pathlib import Path
import pandas as pd
from pandas import concat

Transaction_Data_Aggregated_DF = pd.DataFrame({}) 
Transaction_Summary_Data_Aggregated_DF = pd.DataFrame({}) 

def transactionDataAggregation(state, year, quarter, path):
    global Transaction_Data_Aggregated_DF
    global Transaction_Summary_Data_Aggregated_DF
    dft = pd.read_json(path)
    
    dataFrom=dft['data']['from']
    dataTo=dft['data']['to'] 
    transactionNewRow = [{'State':state,'Year': year,'Quarter':quarter,'Data From':dataFrom,'Data To':dataTo}]
    transactionNewRow = pd.DataFrame.from_records(transactionNewRow)
    Transaction_Summary_Data_Aggregated_DF = pd.concat([Transaction_Summary_Data_Aggregated_DF, transactionNewRow], ignore_index = True)
    
    DAT_temp = dft['data']['transactionData']
    if DAT_temp:      
        for i in DAT_temp:
            transactionDataNewRow = [{ 'Payment_Mode':i['name'], 'Total_Transactions_count':i['paymentInstruments'][0]['count'], 'Total_Amount':i['paymentInstruments'][0]['amount'],'Quarter':quarter,'Year': year,'State':state}]  
            transactionDataNewRow = pd.DataFrame.from_records(transactionDataNewRow)
            Transaction_Data_Aggregated_DF = pd.concat([Transaction_Data_Aggregated_DF, transactionDataNewRow],ignore_index = True) 
        
# PATH FOR ALL STATES IN AGGREGATED TRANSACTIONS

stateTransactionDataPath = r'D:\MachineLearning\pulse-master\data\aggregated\transaction\country\india\state'
stateTransactionDataAgg = os.listdir(stateTransactionDataPath)

for i in stateTransactionDataAgg:                     # ITERATE ALL STATES
    #print(i)
    p=stateTransactionDataPath+'\\'+i                       # PICK ONE STATE PATH
    states_year=os.listdir(p)          # PICK 2018 TO 2022 DIRECTORIES IN ONE STATE
    for j in states_year:              # ITERATE YEARS 2018 TO 2022
        #print(j)
        pt=p+'\\'+j                    # PICK ONE YEAR PATH
        f=[]
        for (dirpath, dirnames, filenames) in walk(pt):
            f.extend(filenames)        # PICK ALL THE QFILES IN SELECTED YEAR 
            break
        for k in f:                    # ITERATE THROUGH QFILES 1.JSON TO 4.JSON
            filePath=pt+'\\'+k               # PICK ONE QFILE PATH
            fn=Path(filePath).stem           # NOTE DOWN QUARTER
            
            transactionDataAggregation(i,j,fn,filePath) # CALL FUNCTION WITH STATE,YEAR,QFILE,QUARTER

In [4]:
Transaction_Data_Aggregated_DF.to_csv('data\Aggregated-Transaction-Data.csv',index=False)  
print(len(Transaction_Data_Aggregated_DF))
Transaction_Data_Aggregated_DF.head(5)

3594

,Payment_Mode,Total_Transactions_count,Total_Amount,Quarter,Year,State
0,Recharge & bill payments,4200,1.845307e+06,1,2018,andaman-&-nicobar-islands
1,Peer-to-peer payments,1871,1.213866e+07,1,2018,andaman-&-nicobar-islands
2,Merchant payments,298,4.525072e+05,1,2018,andaman-&-nicobar-islands
3,Financial Services,33,1.060142e+04,1,2018,andaman-&-nicobar-islands
4,Others,256,1.846899e+05,1,2018,andaman-&-nicobar-islands

In [4]:
Transaction_Summary_Data_Aggregated_DF.to_csv('data\Aggregated-Transaction-Summary-Data.csv',index=False)  
print(len(Transaction_Summary_Data_Aggregated_DF))
Transaction_Summary_Data_Aggregated_DF.head(5)

720

                       State  Year Quarter      Data From        Data To
0  andaman-&-nicobar-islands  2018       1  1514745000000  1522175400000
1  andaman-&-nicobar-islands  2018       2  1522521000000  1530124200000
2  andaman-&-nicobar-islands  2018       3  1530383400000  1538073000000
3  andaman-&-nicobar-islands  2018       4  1538332200000  1545935400000
4  andaman-&-nicobar-islands  2019       1  1546281000000  1553711400000

# Aggregated_User_Data_DataFrame

In [7]:
# INITIALIZATION
import os
from os import walk
from pathlib import Path
import pandas as pd

Aggregated_User_Data_DataFrame = pd.DataFrame({}) 
Aggregated_User_Data_Summary_DataFrame = pd.DataFrame({}) 

def userDataAggregation(state,year,quarter,path):
    global Aggregated_User_Data_DataFrame
    global Aggregated_User_Data_Summary_DataFrame
    dfu = pd.read_json(path)
    
    registeredUsers=dfu['data']['aggregated']['registeredUsers']
    appOpens=dfu['data']['aggregated']['appOpens']
    U_row = [{'State':state,'Year': year,'Quarter':quarter,'Registered_Users':registeredUsers,'AppOpenings':appOpens}]
    U_row = pd.DataFrame.from_records(U_row)
    Aggregated_User_Data_Summary_DataFrame = pd.concat([Aggregated_User_Data_Summary_DataFrame, U_row], ignore_index = True )

    DAU_temp=dfu['data']['usersByDevice']
    if DAU_temp:  
        for i in DAU_temp:
            DAU_row = [{ 'Brand_Name':i['brand'], 'Registered_Users_Count':i['count'], \
                        'Percentage_Share_of_Brand':i['percentage'],'Quarter':quarter,'Year': year,'State':state}] 
            DAU_row = pd.DataFrame(DAU_row)
            Aggregated_User_Data_DataFrame = pd.concat([Aggregated_User_Data_DataFrame, DAU_row], ignore_index = True)

s= r'D:\MachineLearning\pulse-master\data\aggregated\user\country\india\state'
path = r'D:\MachineLearning\pulse-master\data\aggregated\user\country\india\state'
states = os.listdir(path)

for i in states:
    #print(i)
    p=s+'\\'+i
    states_year=os.listdir(p)
    for j in states_year:
        #print(j)
        pt=p+'\\'+j
        f=[]
        for (dirpath, dirnames, filenames) in walk(pt):
            f.extend(filenames)
            break
        for k in f:
            fp=pt+'\\'+k            
            fn=Path(fp).stem
            #print(i,j,fn)
            userDataAggregation(i,j,fn,fp)
            #print(fp)

In [8]:
Aggregated_User_Data_DataFrame.to_csv('data\Aggregated-User-Data-DataFrame.csv',index=False) 
print(len(Aggregated_User_Data_DataFrame))
Aggregated_User_Data_DataFrame.head(5)

6732

,Brand_Name,Registered_Users_Count,Percentage_Share_of_Brand,Quarter,Year,State
0,Xiaomi,1665,0.247033,1,2018,andaman-&-nicobar-islands
1,Samsung,1445,0.214392,1,2018,andaman-&-nicobar-islands
2,Vivo,982,0.145697,1,2018,andaman-&-nicobar-islands
3,Oppo,501,0.074332,1,2018,andaman-&-nicobar-islands
4,OnePlus,332,0.049258,1,2018,andaman-&-nicobar-islands

In [9]:
Aggregated_User_Data_Summary_DataFrame.to_csv('data\Aggregated-User-Data-Summary.csv',index=False) 
print(len(Aggregated_User_Data_Summary_DataFrame))
Aggregated_User_Data_Summary_DataFrame.head(5)

720

                       State  Year Quarter  Registered Users  AppOpenings
0  andaman-&-nicobar-islands  2018       1              6740            0
1  andaman-&-nicobar-islands  2018       2              9405            0
2  andaman-&-nicobar-islands  2018       3             12149            0
3  andaman-&-nicobar-islands  2018       4             15222            0
4  andaman-&-nicobar-islands  2019       1             18596            0

# Transaction Map Data DataFrame

In [1]:
# INITIALIZATION
import os
from os import walk
from pathlib import Path
import pandas as pd

transactionDataMapDF = pd.DataFrame({})

def Data_Map_Transaction_Table_Fun(state,year,quarter,path):
    global transactionDataMapDF
    dfmt = pd.read_json(path)
    DMT_temp=dfmt['data']['hoverDataList'] 
    if DMT_temp:
        for i in DMT_temp:
            DMT_row = [{ 'Place_Name':i['name'], 'Total_Transactions_count':i['metric'][0]['count'] \
                      ,'Total_Amount':i['metric'][0]['amount'],'Quarter':quarter,'Year': year,'State':state}]
            DMT_row = pd.DataFrame.from_records(DMT_row)
            transactionDataMapDF = pd.concat([transactionDataMapDF, DMT_row], ignore_index = True)  

t_s= r'D:\MachineLearning\pulse-master\data\map\transaction\hover\country\india\state'
t_path = r'D:\MachineLearning\pulse-master\data\map\transaction\hover\country\india\state'
t_states = os.listdir(t_path) 

for i in t_states:
    #print(i)
    p=t_s+'\\'+i
    states_year=os.listdir(p)
    for j in states_year:
        #print(j)
        pt=p+'\\'+j
        fileNamesList = []
        for (dirpath, dirnames, filenames) in walk(pt):
            fileNamesList.extend(filenames)
            break
            
        for jsonFileName in fileNamesList:
            filePath = pt+'\\'+ jsonFileName
            fn=Path(filePath).stem
            #print(i,j,fn)
            Data_Map_Transaction_Table_Fun(i,j,fn,filePath)
            #print(fp)

In [2]:
transactionDataMapDF.to_csv('data\Map-Transaction-Data.csv',index=False) 
print(len(transactionDataMapDF))
transactionDataMapDF.head(5)

14636

,Place_Name,Total_Transactions_count,Total_Amount,Quarter,Year,State
0,north and middle andaman district,442,9.316631e+05,1,2018,andaman-&-nicobar-islands
1,south andaman district,5688,1.256025e+07,1,2018,andaman-&-nicobar-islands
2,nicobars district,528,1.139849e+06,1,2018,andaman-&-nicobar-islands
3,north and middle andaman district,825,1.317863e+06,2,2018,andaman-&-nicobar-islands
4,south andaman district,9395,2.394824e+07,2,2018,andaman-&-nicobar-islands

In [5]:
# INITIALIZATION
import os
from os import walk
from pathlib import Path
import pandas as pd

User_Map_Data_India = pd.DataFrame({}) 

def Data_Map_User_Table_Fun(state,year,quarter,path):
    global User_Map_Data_India
    dfmu = pd.read_json(path)
    
    DMU_temp=dfmu["data"]["hoverData"] 
    if DMU_temp:
        for i in DMU_temp:
            #print(i, DMU_temp[i]['registeredUsers'],DMU_temp[i]['appOpens'])
            dfNewRow = [{ 'Place_Name':i, 'Registered_Users_Count':DMU_temp[i]['registeredUsers'],\
                         'App_Openings':DMU_temp[i]['appOpens'],'Quarter':quarter,'Year': year,'State':state}]  
            #User_Data_IndiaMap = Data_Map_User_Table.append(DMU_row, ignore_index = True)
            df_new_row = pd.DataFrame.from_records(dfNewRow)
            User_Map_Data_India = pd.concat([User_Map_Data_India, df_new_row], ignore_index = True)

t_s= r'D:\MachineLearning\pulse-master\data\map\user\hover\country\india\state'
t_path = r'D:\MachineLearning\pulse-master\data\map\user\hover\country\india\state'
t_states = os.listdir(t_path) 

for i in t_states:
    #print(i)
    p=t_s+'\\'+i
    states_year=os.listdir(p)
    for j in states_year:
        #print(j)
        pt=p+'\\'+j
        fileNamesList = []
        for (dirpath, dirnames, filenames) in walk(pt):
            fileNamesList.extend(filenames)
            break
        for k in fileNamesList:
            filePath=pt+'\\'+k            
            fn=Path(filePath).stem
            #print(i,j,fn)
            Data_Map_User_Table_Fun(i,j,fn,filePath)
            #print(fp)

In [6]:
User_Map_Data_India.to_csv('data\Map-User-Data.csv',index=False) 
print(len(User_Map_Data_India))
User_Map_Data_India.head(5)

14640

,Place_Name,Registered_Users_Count,App_Openings,Quarter,Year,State
0,north and middle andaman district,632,0,1,2018,andaman-&-nicobar-islands
1,south andaman district,5846,0,1,2018,andaman-&-nicobar-islands
2,nicobars district,262,0,1,2018,andaman-&-nicobar-islands
3,north and middle andaman district,911,0,2,2018,andaman-&-nicobar-islands
4,south andaman district,8143,0,2,2018,andaman-&-nicobar-islands